.Rproj.user
.Rhistory
.RData
.Ruserdata
data/raw/Socially Guided Vocal Learning of Schroeders/02_01_D8Y_Gd2794.wav
data/raw/Socially Guided Vocal Learning of Schroeders/07_15_22_D3C_BkWBkW2786_PuBkW2859_BkW0723.wav
data/raw/Socially Guided Vocal Learning of Schroeders/12_20_22_D7Y_D7C.wav
